.page-home {
  background-image: url('../images/undraw_interaction_design_odgc.svg');
  background-repeat: no-repeat;
  background-size: 55%;
  background-position: 90% 70px;
  @include media-breakpoint-up(sm) {
    background-size: 40%;
    background-position: 90% 70px;
  }
  @include media-breakpoint-up(md) {
    background-size: 30%;
    background-position: 90% 70px;
  }
  @include media-breakpoint-up(lg) {
    background-size: 40%;
    background-position: 90% 70px;
  }
}
