.page-services {
  background-image: url('../images/undraw_developer_activity_bv83.svg');
  background-repeat: no-repeat;
  background-size: 65%;
  background-position: 90% 60px;
  @include media-breakpoint-up(sm) {
    background-size: 50%;
    background-position: 90% 60px;
  }
  @include media-breakpoint-up(md) {
    background-size: 42%;
    background-position: 90% 60px;
  }
  @include media-breakpoint-up(lg) {
    background-size: 33%;
    background-position: 90% 60px;
  }
}
.page-services.lasir {
  background-image: url('../images/undraw_dark_analytics_7axy.svg');
}
.page-services.isle {
  background-image: url('../images/undraw_developer_activity_bv83.svg');
}
