.page-services {
  background-image: url('../images/undraw_sharing_articles_t5aa.svg');
  background-repeat: no-repeat;
  background-size: 65%;
  background-position: 90% 60px;
  @include media-breakpoint-up(sm) {
    background-size: 50%;
    background-position: 90% 60px;
  }
  @include media-breakpoint-up(md) {
    background-size: 42%;
    background-position: 90% 60px;
  }
  @include media-breakpoint-up(lg) {
    background-size: 33%;
    background-position: 90% 60px;
  }
}
